{% extends 'baseUser.html.twig' %}

{% block title %}Modifier ma réservation{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 offset-2 py-3 m-auto">
                <h1>Modifier ma réservation</h1>

                {{ include('booking/_form.html.twig', {'button_label': 'valider'}) }}

            </div>
        </div>
    </div>
{% endblock %}
