{% extends 'base.html.twig' %}

{% block title %}Ma nouvelle réservation{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="row">
            <div class="col-4 offset-4 py-5">
                <h1>Ma nouvelle réservation</h1>

                {{ include('booking/_form.html.twig') }}

                <a href="{{ path('user_booking') }}">Revenir à la liste</a>
            </div>
        </div>
    </div>
        
{% endblock %}
