{% extends 'baseUser.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 offset-2 py-3 m-auto">
                <h2>Modification du mot de passe</h2>
            </div>  
        </div>
        <div class="row">
           <div class="col-12 col-lg-4 offset-2 m-auto">
                {{form_start(formPass)}}
                    {{ form_widget(formPass) }}
                    <button class="btn btn-success">Enregistrer</button>
                {{form_end(formPass)}}
            </div>
        </div>
    </div>
{% endblock %}