{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

    {% block body %}
    
        {# -----------------------
        ------ RESERVATION -------
        ----------------------- #}

        <section id="reservation" class="container-fluid"> 
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="heading animate__animated animate__zoomIn">
                        <h1><a href="#about" class="buttonHomePage">Les services</a></h1>
                    </div>
                </div>
            </div>
        </section>
       
        {# ----------------
        ----- SERVICE -----
        ---------------- #}

        <section id="about" class="headband container-fluid">
             <div class="col-md-12 text-center bg-success text-white">
                <div class="size-headband animate__animated animate__fadeInUp">
                    <h4 class="pb-2">Réservation</h4>
                    <div class="divider"></div>
                    <p class="p-3">Je me déplace dans toute l’île de France, à domicile, dans vos locaux professionnels ou en plein air.</p>
                </div>
            </div> 
        </section>
        <section id="booking-services">
            <div class="container">
                {% for service in services %}
                    <div class="row">
                        <div class="col-12 col-md-4 text-center py-3">{{service.activity}}</div>
                        <div class="col-12 col-md-4 text-center py-3">{{service.price}} €</div>
                        <div class="col-12 col-md-4 text-center py-3">{{service.time}} min</div>
                    </div>
                    <hr>
                {% endfor %}
                 <div class="row">
                     <div class="col-12 text-center py-3">
                        <a href="{{ path('booking_calendar') }}">
                            <button type="button" class="btn btn-dark">
                                Réserver
                            </button>
                        </a>
                    </div>
                </div>
            </div>  
        </section>
        <section id="reservationbis" class="container-fluid"> 
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="heading animate__animated animate__zoomIn">
                       
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

