{% extends 'baseAdmin.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 offset-2 py-3 m-auto">

                <h1 class="py-4 text-center">Réservations</h1>

                {{ form_start(formBooking) }}
                    {{ form_widget(formBooking) }}
                    <button class="btn">{{ button_label|default('Valider') }}</button>
                {{ form_end(formBooking) }}
            </div>
        </div>
    </div>
         

{% endblock %}


