{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier profil utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
           <div class="col-12 col-lg-4 offset-2 py-3 m-auto">

                <h1 class="py-4 text-center">Modifier le profil utilisateur</h1>

                {{ form_start(formUser) }}
                {{ form_end(formUser) }}
            </div>
        </div>
    </div>
         

{% endblock %}

 {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $('select').select2();
    </script>
 {% endblock %}
 