{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 offset-2 py-3 m-auto">

                <h1 class="py-4 text-center">Les services</h1>

                {{ form_start(formService) }}
                    {{ form_widget(formService) }}
                    <button class="btn btn-success">Valider</button>
                {{ form_end(formService) }}
            </div>
        </div>
    </div>
         

{% endblock %}