{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h3>reservation</h3>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-5">
            <div id="calendrier"></div>
        <div>
        <a href="{{ path('booking_new') }}">Réserver votre séance</a>
    </div>
    </div>
</div>
    
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js" integrity="sha256-oenhI3DRqaPoTMAVBBzQUjOKPEdbdFFtTCNIosGwro0=" crossorigin="anonymous"></script>    
    <script>
         document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendrier');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale:'fr',
           
            timeZone: 'Europe/Paris',
            allDaySlot: false,
            slotMintime: "10:00:00",
            slotMaxTim: "18:00:00",
            themeSystem: 'bootstrap',
            buttonText:{
                today:'Aujourd\'hui',
                month:'Mois',
                week: 'Semaine',
            },
            firstDay: 1,
            height: "auto",
            contentHeight: "auto",
            lazyFetching: true,
            headerToolbar: {
                start:'prev,next today',
                center: 'title',
                end:'dayGridMonth,timeGridWeek'
          },
          events: {{ data|raw }},
          eventBackgroundColor: '#378006',
          eventDisplay: 'block',
          eventTimeFormat: {
  hour: 'numeric',
  minute: '2-digit',
  meridiem: false
}
        });
        calendar.render();
      });

    </script>
{% endblock %}