{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %} 
    <div class="container-fluid">
        <div class="col-12">
            <div id="notfound">
		        <div class="notfound">
			        <div class="notfound-404"></div>
			        <h1>Oops! Une erreur est survenue !</h1>
			        <h2>Erreur {{ status_code }}</h2>
                    <p>{{ status_text }}</p>
			        <a href="{{ path('home') }}">Revenir a l'accueil</a>
		        </div>
	        </div>
        </div>
    </div>
{% endblock %}